*{
    padding: 0px;
    margin: 0px;

}
a{
    text-decoration: none;
}
body{
    
    background-color: #f3f5f6;
}
.aesrn_box{
    
    background-color: #ffffff;
    margin-bottom: 10px;
}
.container{
    position: relative;
}
.moder{
    position: absolute;
    width: 214px;
    top: 30px;
    left: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 18px;
}
.g{
    display: flex;
    justify-content:space-between;
    padding-left: 16px;
}
.g>i{
    cursor: pointer;
    padding: 16px;
}
.g>span{
    line-height: 52px;
    font-size: 16px;
}
.inner{
    height: 800px;
    padding: 0 16px 10px;
    overflow-y: scroll;
}
.inner>h3{
    font-size: 16px;
    color: #1c1f21;
    line-height: 24px;
    padding: 15px 0 18px;
    font-weight: 400;
}
.zhang_title{
    font-size: 14px;
    color: #1c1f21;
    font-weight: 700;
    line-height: 18px;
    padding: 11px 0;
    border-top: 1px solid #f3f5f6;
}
.zhang_box>a{
    display: block;
    font-size: 12px;
    color: #1c1f21;
    border-top: 1px solid #f3f5f6;
    line-height: 24px;
    cursor: pointer;
    padding: 8px 16px 8px 0;
}
    .test-1::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
    }
    .test-1::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(91, 29, 0, 0.2);
    background   : #e1e4e5;
    }
    /* ------------------- */
    .index{
        position: absolute;
        left: 215px;
        width: 800px;
        height: 500px;
        background-color: #ffffff;
        overflow-y: scroll;
        display: none;
        z-index: 999;
    }
    .content{
        width: 750px;
       
    }
    .content_card{
        margin-left: 0px;
        margin-right: 5px;
        width: 250px;
    }
    .content_sirui{
        width: 790px;
        margin-right: 0px;
    }
    .content_list{
        margin-left: 10px;
    }
    /* -------------- */
    .zjh{
        /* width: 100%; */
        /* background-color: #ffffff; */
    }
    .article_icon{
        position: absolute;
        width: 1000px;
        height: 500px;
        /* background-color: #291111; */
        right: 0;
        top: 0;
        z-index: 10;

    }
    .article{
        width: 800px;
    }
    .crumbs>a{
        font-size: 12px;
        color: #545c63;
        margin-bottom: 12px;
    }
    .crumbs{
        margin-bottom: 10px;
    }
    .content_zjh{
        width: 100%;
        padding: 30px 32px;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(28, 31, 33, 8%);
    }
    .content_z{
        position: relative;
        height: 107px;
        line-height: 107px;
        width: 672px;
        margin: 0 auto;
        border-bottom: 1px solid #d9dde1;
    }
    /* .content_z>div{
        display: inline-block;
    } */
    .z{
        float: left;
    }
    .z>div{
        display: inline-block;

    }
    .zz{
       width: 84px;
       height: 84px;
       box-sizing: border-box;
    }
    .z>div>img{
        width: 84px;
        height: 84px;
        margin-right:8px ;
        position: relative;
        top: 6px;
    }
    .j{
        position: absolute;
        font-size: 24px;
        color: #1c1f21;
        font-weight: 600;
        margin: 8px 0 23px 16px;
        line-height: 36px;
    }
    .j>div>img{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        top: 11px;
    }
    .jj>span{
        font-size: 12px;
        color: #1c1f21;
        line-height: 17px;
        font-weight: 400;

    }
    .jj>span:nth-child(3){
        color: #545c63;
    }
    .jjj{
        float: right;
    }
    .zzz{
        float: right;
    }
    .zzz>i{
        font-size: 12px;
        color: #545c63;
    }
    .zzz>span{
        font-size: 12px;
        color: #545c63;
    }
    .h{
        width: 672px;
        height: auto;
        border-bottom: 1px solid #d9dde1;
        margin: 23px auto;
        padding-bottom: 10px;
    }
    .h1{
        position: relative;
        padding-bottom: 10px;
    }
    .h2{
        padding-bottom: 15px;
    }

    .h1>i,span{
        font-size: 16px;
        color: #1c1f21;
        font-weight: 700;
        position: relative;
        
       
    }
    .k{
        left: -87px;
    }
    .h2>div{
        float: right;
    }
    .l,.x{
       font-size: 14px;
        color: #545c63;
       
    }
    .h7{
        margin-bottom: 24px;
    }
    .h8{
        display: inline-block;
    }
    .aa{
        font-size: 14px;
        display: block;
        float: right;
        font-weight: 400;
        color: #545c63;
    }
    .flev{
        display: flex;
        justify-content: center;
    }
    .flec{
        width: 210px;
        height: 200px;
        margin-left: 15px;
        /* margin-bottom: 23px; */
        box-shadow: 0 6px 10px 0 rgb(95 101 105 / 15%)

    }
    .flec>img{
        width: 210px;
        height: 124px;
        border-radius: 8px 8px 0 0;
    }
    .flec>.d{
        width: 200px;
        margin: 10px auto 8px;
        font-size: 14px;
        color: #545c63;
        line-height: 20px;
        font-weight: 400;

    }
    .dd>span{
        width: 207px;
        font-size: 12px;
        color:#9199a1;
        font-weight: 400;

    }
    .bottom{
        position: absolute;
        width: 800px;
        height: 50px;
        background-color: #ffffff;
        z-index: 9999;
        bottom: 0px;
        left: 263px;
        line-height: 50px;
        text-align: center;
    }
    .bottom>a{
        display: inline-block;
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        border: 1px solid #69f;
        border-radius: 4px;
        margin: 0 18px;
        box-sizing: border-box;
    }
    .tt{
        font-size: 10px;
    }
    .bottom>a:hover{
        background-color: #69f;
    }
